header {
    height: 1.9em;
    display: flex;
    align-items: center;
    justify-content: center;

}

header>div {
    font-size: .9em;
    margin: 0 .5em;
    transition: ease-in-out .5s;
}


header>div:not(:last-child) {
    margin: 0 .5em;
}

.select {
    color: skyblue;
}

.underline {
    position: absolute;
    height: .2em;
    width: 2em;
    background-color: skyblue;
    margin: 0;
}

.box-button{
    background-image: url(./按钮.png);
    background-size: 100% 100%;
    width: 140px;
    height: 75px;
    text-align: center;
    line-height: 80px;
    color: #575757;
}

.wish-style{
    background-image: url(./wish-background.png);
    /* background-size: 100% 100%; */
}

.history-style{
    background-image: url(./history-background.png);
    /* background-size: 100% 100%; */
}